@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/Users/slabaser/Downloads/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-3840x2160-1432.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #263451;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
  overflow-y: scroll;
  height: 600px;

}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #5289B5;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #B7D7D8;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  
}

.todo-input::placeholder {
  color: #929797;
  font-style: italic;
}

.todo-btn {
  background: linear-gradient(
    90deg,
    #5289B5 0%,
    #75a9ca 100%
  );
  color: #ffffff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-btn:hover {
  background: #447c9f;
}

.Todo {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: linear-gradient(
    90deg,
    #8e2f31 0%,
    #e06466 100%
  );
  
  padding: 0.75rem 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}


.Todo:nth-child(3n + 1) {
  background: linear-gradient(
    90deg,
    #437196 0%,
    #76bae5 100%
  );
}

.Todo:nth-child(3n + 2) {
  background: linear-gradient(
    90deg,
    #5B3884 0%,
    #7b7bea 100%
  );
}

.fa-trash {
  margin-left: 0.75rem;
  
}
.fa-trash:hover{
  color: #656b6f;
  cursor: pointer;
}
.fa-pen-to-square:hover{
  color: #656b6f;
  cursor: pointer;
}

.incompleted {
  color: #fff;
  
}

.completed {
  color: #f6f1f1;
  text-decoration: line-through;
  font-style: italic;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 .fa-thumbtack{
  margin-right: 0.75rem;
 }

 .todo-task-container {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 70%;
   
}

.todo-task-container p {
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fa-circle,
.fa-circle-check {
  cursor: pointer;
}
.todo-task-container p:hover {
  width: 90%;
  overflow: visible;
  overflow-wrap: break-word;
}

.selected-todos {
  text-align: end;
  margin-bottom: 10px;
  margin-right: 10px;
}
.trashcan {
  background: none;
  border: none;
  color: #fff;
  
}
.trashcan:disabled {
  color: #868d92;
}

.trashcan:enabled:hover {
  color: darkgrey;
  cursor: pointer;
}

.select-button {
  background: linear-gradient(
    90deg,
    #436885 0%,
    #75a9ca 100%
  );
  color: #ffffff;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 30px;
  width: 70px;
}

.select-button:hover {
  background: #74b5e7;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 4px solid #fff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #83077d;
  border: none;
}

.custom-checkbox:checked::after {
  content: '✔';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected-todos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.selected-todos h3 {
  color: #fff;
  padding-left: 17px;
}